/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

*
{
    font-family: 'Montserrat', sans-serif;
}

.container
{
    width: 1140px;
    margin: 0 auto;
}

nav
{
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links a
{
    margin: 0 20px;
    text-decoration: none;
    color: #9F9F9F;
}

.nav__links a:hover
{
    font-weight: 700;
    color: #445EE9;
    transition: ease .5s;
}

a.active
{
    font-weight: 700;
    color: #445EE9;
}

button.btn-primary
{
    padding: 16px 40px;
    border: none;
    background-color: #445EE9;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

/* Hero Section */
.row__hero
{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 24px;
}

h1.heading
{
    margin-top: 72px;
    font-size: 3rem;
    color: #445EE9;
}

p.desc
{
    color: #9F9F9F;
    line-height: 30px;
    width: 75%;
}

button.btn__cta
{
    margin-top: 16px;
    padding: 16px 40px;
    border: none;
    background-color: #445EE9;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.col img
{
    position: absolute;
    bottom: 0;
    width: 400px;
}